EVF_SOURCE=/dev/video0
EVF_CAPTURE_WIDTH=1920
EVF_CAPTURE_HEIGHT=1080
EVF_CAPTURE_FPS=30
EVF_CAPTURE_FOURCC=
EVF_MODE=fit
EVF_SPI_PORT=0
EVF_SPI_DEVICE=0
EVF_SPI_HZ=16000000
EVF_DC=24
EVF_RST=25
EVF_X_OFFSET=0
EVF_Y_OFFSET=0
EVF_ROTATION=0
EVF_GPIO_BACKEND=lgpio
EVF_OVERLAY=rec,fps,resolution,clock,crosshair
EVF_PEAKING_THRESHOLD=90
EVF_ZEBRA_THRESHOLD=245
EVF_LABEL=Z7
